/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.attendances.home, .settings {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
  font-family: sans-serif;
}

.container {
  width: 400px;
  text-align: center;
}

.attendances.index {
  display: block;        /* flexやめる */
  height: auto;          /* 高さ固定やめる */
  background-color: #f4f6f9;
  padding-top: 30px;     /* 上に余白 */
}

.attendances.index .container_list {
  width: 600px;
  margin: 0 auto;        /* 横中央 */
  padding: 20px;
  margin-bottom: 60px;   /* ←これが下の余白（重要） */
  text-align: center;
}

.date {
  font-size: 18px;
  margin-bottom: 5px;
}

.current-time {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.status {
  margin: 15px 0;
}

.status-labels,
.status-times {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.status-labels {
  font-size: 14px;
  color: #666;
}

.status-times {
  font-size: 20px;
  margin-top: 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.button-row form {
  width: 48%;
}

.button-row button,
.button-row input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}


.setting_time {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 左右に分ける */
  margin-bottom: 10px;
}

.setting_time label {
  width: 140px;       /* ←ここ重要（揃える） */
  text-align: left;   /* ラベルは左寄せ */
  font-size:20px;
  
}

.setting_time input {
  width: 100px;
  font-size: 20px;
  text-align: center;
}

.setting_break_time input{
  width: 97px;
  height: 30px;
  text-align: left;
}

.top_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-bottom:10px;
}


.year_month{
  font-size: 25px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  width: 100px;
}


th {
  background-color: #f0f0f0;
}

th:nth-child(1), td:nth-child(1){
  width: 150px;
}

.today-row {
  background-color: #fff3cd;
}

.sunday:not(.today-row){
  background-color: #efb0b0;
}

.saturday:not(.today-row){
  background-color: #bdd3ef;
}

tfoot td {
  font-weight: bold;
  background-color: #f4efde;
}

.flash-area {
  margin-top: 10px;
  min-height: 20px;
}

.flash-notice {
  color: green;
}

.flash-alert {
  color: red;
}

.flash-warning {
  background-color: #fff3cd;
  color: #856404;
  
}